<li class="active"><a href="">Home</a></li>
<li><a href="">Shop</a></li>
<li><a href="#">Pages</a>
    <ul class="header__menu__dropdown">
        <li><a href="">Shop Details</a></li>
        <li><a href="">Shoping Cart</a></li>
        <li><a href="">Check Out</a></li>
    </ul>
</li>
<li><a href="">Contact</a></li>