<li><a href="/">Home</a></li>
<li><a href="/shop">Shop</a></li>
<li><a href="#">Pages</a>
    <ul class="header__menu__dropdown">
        <li><a href="/shop-detail">Shop Details</a></li>
        <li><a href="/shopping-cart">Shoping Cart</a></li>
        <li><a href="/checkout">Check Out</a></li>
    </ul>
</li>
<li><a href="/contact">Contact</a></li>